<li id="snapmaker_menu" class="dropdown" data-bind="visible: showEntry">
    <!-- show snapmaker logo when detected -->
    <span ><img class="snapmaker-image" src="/plugin/snapmaker_control/static/img/snapmaker.svg"/></span>
</li>
