.snapmaker-1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bolder;
}

.snapmaker-2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
}


.snapmaker-image-lg, .snapmaker-image {
    width: 100px;
    margin-bottom: -10px;
}

.snapmaker-image-lg {
    width: 200px;
}
#snapmaker_controls .slider-handle {
    width: 14px;
    height: 14px;
    margin-left: -7px;
    margin-top: -3px;
}